:root {
	--primary: #0057b7;
	--secondary: #0e4174;
	--red: #af272f;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('/fonts/DIN_Pro_Font_Family/DIN\ Pro\ Condensed\ Medium\ 500.otf');
	font-weight: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('/fonts/DIN_Pro_Font_Family/DIN\ Pro\ Condensed\ Bold\ 700.otf');
	font-weight: 700;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
	font-weight: normal;
}

#hero-container {
	max-width: 1920px;
	.chevron {
		clip-path: polygon(100% 0, 100% 86%, 65% 100%, 0 86%, 0 0);
		background: red;
		// overflow: hidden;
		background: url(https://via.placeholder.com/1920x950) 50% 50% / cover
			no-repeat;
		height: 40vh;
		z-index: 90;
		position: relative;
	}

	// text content
	#text-content {
		position: relative;
		top: -150px;
		.hero-title {
			opacity: 0.75;
			background: var(--primary);
			z-index: 100;
			position: relative;
			h1 {
				font-family: 'DIN Pro';
				font-weight: normal;
				font-size: 4rem;
				color: #fff;
				text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
			}
		}
		.cta {
			font-family: 'DIN Pro';
			font-weight: normal;
			font-size: 1.56rem;
			background: var(--secondary);
			z-index: 80;
			position: relative;
			display: flex;
			align-items: end;
			height: 320px;
			color: #fff;
		}
	}
}

// triangle page
.triangles {
	font-family: 'Roboto Condensed';
	.text {
		text-align: center;
		h2 {
			font-family: 'DIN Pro';
			font-size: 2.63rem;
			color: var(--primary);
		}
		p {
			color: rgba(86, 86, 86, 1);
		}
		.btn {
			color: var(--red);
			border: 3px solid var(--red);
			box-shadow: 3px 3px var(--red);
			border-radius: 0;
		}
	}
}
.img-right {
	.text {
		padding: 5rem 0 5rem 3rem;
	}
	.image-content {
		background: url('https://via.placeholder.com/500x300') 50% 50% / cover
			no-repeat;
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
	}
}
.img-left {
	.text {
		padding: 5rem 3rem 5rem 0;
	}
	.image-content {
		background: url('https://via.placeholder.com/500x300') 50% 50% / cover
			no-repeat;
		clip-path: polygon(0 0, 80% 0%, 100% 100%, 0 100%);
	}
}
